.profile__avatar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile__avatar__container img {
  border-radius: 50%;
  height: 200px;
}

.profile__avatar__container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.profile__avatar__container .content h1 {
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  text-align: center;
}
.profile__avatar__container .content .icon {
  background: #4267b2;
  border-radius: 50%;
  padding: 0.2rem;
  color: #f8f8f2;
  margin: 0 1rem;
}

.profile__avatar__container .icon_not_verfified {
  border-radius: 50%;
  color: #4267b2;
  margin: 0 0.2rem;
  width: 24px;
}

@media screen and (max-width: 768px) {
  .profile__avatar__container img {
    height: 100px;
  }
}
