.search__bar__auto {
  width: 600px;
  padding: 0 20px;
}

.search__bar__auto input {
  border-radius: 20px;
}

@media screen and (max-width: 992px) {
  .search__bar__auto {
    display: none !important;
  }
}
