.container__masontry__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.masonryItem {
  border-radius: 20px;
  width: 100%;
}

.masonryItem .imageContaiener {
  z-index: 1002;
}

.masonryItem .imageContaiener img {
  filter: brightness(50%);
  z-index: 1002;
}

.masonryItem:hover {
  box-shadow: 0 0 10px #2b2b2b25;
}

.masonryItem .content__container {
  visibility: hidden;
  transform: translateY(-50%);
  transition: transform 0.2s ease-out;
  border-radius: 20px;
  padding: 20px;
  z-index: 100;
}

.masonryItem:hover .content__container {
  visibility: visible;
  transform: translateX(0%);
}

.masonryItem .content__container h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.masonryItem .content__container h1 .like__container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.masonryItem .content__container h1 .like__container {
  font-size: 16px;
  font-weight: 500;
}

.masonryItem .content__container h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #c4c4c4;
  margin: 0;
}
