.checkout__information__container {
  border-radius: 20px;
  padding: 20px;
  font-size: 1rem;
}

.checkout__information__container svg{
  color:#2b2b2b80;
}
.checkout__information__container svg:hover{
  color:#2b2b2b;
}

.checkout__information__container >div{
  background: #e8ebfe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin:2rem 0;
  padding:2rem;
}

.checkout__information__container >div:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.checkout__information__container .buttons__address{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.shipping__container > div{
  
}

.shipping__container > div > h3{
  display: flex;
  justify-content:space-between;
  font-size: 1rem;
  font-weight: 400;
  margin:0;
  padding:0.5rem 0;
}

.shipping__container >div > h3> div{
  text-align: end;
}
.shipping__container >div > h3> div > p{
  font-size: 0.8rem;
  font-weight: 400;
  margin:0;

}

.shipping__container >div > h3 span{
  text-align: end;
  font-size: 1.2rem;
  font-weight: 600;
  
}

.checkout__information__container .checkbox_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding-bottom: 30px;
  user-select: none;
  border-radius: 8px;
  border: 3px solid #e5e8f0;
}
.checkout__information__container .checkbox_group > * {
  margin: 0.5rem 0.5rem;
}

.checkout__information__container h1 {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.checkout__information__container .payment__checkbox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 2rem;
 
  
}
.checkout__information__container h2 {
  font-weight: 500;
  font-size: 16px;
  color: #c4c4c4;
}

.checkout__information__container .checkbox__container {
  display: flex;
  flex-direction: column;
}

.checkout__information__container .checkbox__container .checkbox {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.checkout__information__container .address__container {
  margin-top: 2rem;
}

.checkout__information__container h2 {
  font-weight: 500;
  font-size: 16px;
  color: #c4c4c4;
}

.checkout__information__container .address__line {
  padding-left: 1rem;
}

.checkout__information__container .address__line h3 {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.checkout__information__container .address__line h4 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin: 0;
}

.checkout__information__container .editAddress ,.checkout__information__container .billing__address{
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 20px;
  color: #2b2b2b;
  cursor: pointer;
}

.checkout__information__container .editAddress h3,.checkout__information__container .billing__address h3 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-left: 1rem;
}
.checkout__information__container .billing__address {
  border: none;
  margin-top:0;

}
.checkout__information__container .coupon__form {
  display: flex;
  justify-content: space-around;
}

.checkout__information__container .coupon__form input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #fff;
}

.checkout__information__container .coupon__form input::placeholder {
  font-size: 14px;
}

.checkout__information__container .coupon__form input:focus {
  outline: none;
}

.checkout__information__container .coupon__form input[type="submit"] {
  width: 50%;
  margin: 0 10px;
  background-color: transparent;
  border: 1px solid #ff5959;
  color: #ff5959;
  box-shadow: none;
  font-weight: 600;
}
.checkout__information__container .coupon__form input[type="submit"]:hover{
  background:  #ff5959;
  color: white;
}
.checkout__information__container {
  margin: 2rem 0;
}
.checkout__information__container .checkout {
  width: 100%;
  background: #ff5959;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  font-weight: 500;
}

.checkout__information__container .checkout:hover {
  background:none !important;
  box-shadow: 0 0 3px #ff5959;
  color: #ff5959;
}
