.search__modal__container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 40px;
  box-shadow: 0 0 10px #2b2b2b25;
  padding: 4px 20px;
}
.search__bar__modal {
  width: 60vw;
  padding: 0 20px;
  border: none !important;
  border-radius: 20px !important;
}

.search__bar__modal input {
  border-radius: 20px;
}

.search__bar__modal fieldset {
  border: none;
}
