.headerTitle {
  font-weight: 900 !important;
  font-size: 40px !important;
  padding: 3vh 0 !important;
}

.offcanvas_Body {
  margin: 0;
  padding: 0 !important;
  margin-bottom: 90px;
}

.offcanvas_Body::-webkit-scrollbar {
  display: none;
}
