.backdrop{
    background-color:#2b2b2b25;
    height:100%;
    width:100%;
}

.frame__container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:none;
}

.frame__container iframe{
    width:50vw;
    height:50vh;
    border-radius: 20px;
}

@media screen and (max-width:768px) {
.frame__container iframe{
    width:80vw;
    height:80vh
    }
    
}