.modal__container {
  width: 70vw;
}
.bidding__classes {
  padding: 20px;
  width: 100%;
}

.bidding__classes:first-child {
  padding-left: 0;
}
.bidding__classes:last-child {
  padding-right: 0;
}

.bidding__classes .bidding__card {
  border: none;
  transition: box-shadow 0.5s ease-in;
  border-radius: 20px;
}

.bidding__classes .bidding__card:hover {
  box-shadow: 0 0 10px #2b2b2b25;
}

.bidding__classes .bidding__image {
  transform: scale(0.9);
  border-radius: 20px;
  height: 300px;
  width: 100%;
}
.button__container {
  display: flex;
  width: 100%;
  justify-content: "center";
  flex-direction: column;
}

.button__container .button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid rgb(103, 111, 163);
  color: rgb(103, 111, 163);
  margin: 5px;
  transition: all ease-in 0.5s;
}
.button__container .button svg {
  margin-right: 5px;
}

.button__container .button:hover {
  background-color: rgb(103, 111, 163);
  color: #fff;
}
.bidding__classes .card_body {
  padding: 0 20px;
}
.bidding__classes .Biddingcard__header {
  display: flex;
  justify-content: space-between;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 600;
}
.bidding__classes .bidding__card .priceContainer p {
  font-weight: 600;
  font-size: 12px;
}
.bidding__classes .bidding__card .priceContainer h1 {
  font-weight: 700;
  font-size: 12px;
  color: #ff5959;
}
.bidding__classes .card_body .actions__container svg {
  margin: 0 10px;
}
.bidding__classes .card_body .actions__container svg:first-child {
  margin-left: 0px;
}
.bidding__classes .card_body .actions__container svg:last-child {
  margin-right: 0px;
}
