.order__list__container {
  width: 100%;
}

.order__list__container table {
  width: 100%;
}

.order__list__container th {
  color: #a4a4a4;
  font-weight: 400;
}
.tablerow__products td img {
  height: 100px;
  width: 80px;
}
.tablerow__products td {
  padding: 1rem 0;
}
