.categories__container {
  background: #eef2ff;
}
.categories__container .category__lists {
  display: flex;
}
.category__list {
  padding: 10px;
}
.category__list:first-child {
  padding-left: 0;
}

.category__list:last-child {
  padding-right: 0;
}

.category__list a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .categories__container {
    display: none;
  }
}
