.product__information__container {
  align-items: center;
}

.product__information__container .bid__form {
  display: flex;
  justify-content: space-between;
}

.product__information__container .bid__form input {
  transition: width 0.5s ease-in;
}

.product__information__container .product__info h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__information__container .bid__form input[type="submit"] {
  margin-left: 1rem;
  color: #eef2ff;
  background: #676fa3;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.product__information__container .image__container img {
  width: 100%;
  border-radius: 20px;
}
.product__information__container .information__content__container {
  padding: 0 3rem;
}

.product__information__container .content__container {
  border-left: 1px solid #a4a4a4;
  margin: 3rem 0;
}
.product__information__container .supplier_heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #a4a4a4;
}

.product__information__container .supplierAvatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.product__information__container .supplierAvatar .supplierAvatar__img {
  margin: 0 1rem;
}
.product__information__container .supplierAvatar .supplierAvatar__img img {
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  border: 2px solid #676fa3;
}

.product__information__container .supplierAvatar .supplierAvatar_content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product__information__container .supplierAvatar .supplierAvatar_content h1 {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  text-align: start;
  margin: 0;
  text-transform: capitalize;
}

.product__information__container
  .supplierAvatar
  .supplierAvatar_content
  h1
  span {
  font-weight: 500;
  font-size: 12px;
  text-align: end;
  color: #000000;
}

.product__information__container .supplierAvatar .supplierAvatar_content h2 {
  font-size: 16px;
  color: #000000;
}
.product__information__container .supplierAvatar .supplierAvatar_content p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;

  color: #a4a4a4;
}

.product__info {
  margin: 1rem 0;
}

.product__info h1 {
  font-weight: 600;
  font-size: 40px;
  text-transform: capitalize;
  color: #000000;
}

.product__info h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.product__info p {
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

.product__information__container .like__container {
  display: flex;
}
.product__information__container .like__container p {
  margin-left: 0.5rem;
}

.product__information__container .buttons__container {
  display: flex;
}

.product__information__container .buttons__container .add_to_cart {
  display: flex;
  background: #676fa3;
  border-radius: 20px;
  padding: 10px 20px;
  align-items: center;
  color: #eef2ff;
  cursor: pointer;
}

.product__information__container .buttons__container .add_to_cart p {
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  margin-left: 0.5rem;
}

.product__information__container .buttons__container .add_to_wishlist {
  display: flex;
  border-radius: 20px;
  padding: 10px 20px;
  align-items: center;
  color: #676fa3;
  cursor: pointer;
}
.product__information__container .buttons__container .add_to_wishlist p {
  margin: 0;
  margin-left: 0.5rem;
}

.product__information__container .tags .tag__container {
  display: flex;
}

.product__information__container .tags .tag__container a {
  text-decoration: none;
  margin: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
}

.product__information__container .tags .tag__container a:first-child {
  margin-left: 0;
}

.product__information__container .tags h1 {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.product__information__container .categories .categories__container {
  display: flex;
}

.product__information__container .categories .categories__container a {
  text-decoration: none;
  margin: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
}

.product__information__container
  .categories
  .categories__container
  a:first-child {
  margin-left: 0;
}

.product__information__container .categories h1 {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.share .icons__container {
  display: flex;
}
.share .icons__container .icon {
  margin: 0 0.5rem;
  background: #676fa3;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.share .icons__container .icon:hover svg {
  color: #2b2b2b;
}

.product__information__container svg:hover {
  color: #676fa3;
}

.share h1 {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.share .icons__container .icon:first-child {
  margin-left: 0;
}

.product__information__container .bidding__container p {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  color: #888686;
  margin-bottom: 5px 0;
}

.product__information__container .bidding__container p span {
  text-decoration-line: underline;
  font-style: italic;
}
.product__information__container .bidding__container .form__selection {
  border-color: #676fa3;
  color: #676fa3 !important;
  border-radius: 20px;
  padding: 10px 20px;
}

.product__information__container
  .bidding__container
  .form__selection::placeholder {
  color: #676fa3;
  font-size: 12px;
}
.product__information__container .bidding__container .form__selection option {
  padding: 5px 20px;
  background-color: #f8f8f2;
  color: black !important;
}

.product__information__container .product__info .currentHighBidder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 5px 10px;
}

.product__information__container .product__info .currentHighBidder p {
  margin-left: 2rem;
}

.product__information__container .product__info .currentHighBidder.winning {
  border: 2px solid rgb(44, 179, 44);
}

.product__information__container .product__info .currentHighBidder.losing {
  border: 2px solid #ff5959;
}

.product__information__container .product__info .bidding__information p span {
  font-weight: 600;
  text-align: end;
}

.product__information__container .product__info .bidding__information .losing {
  color: #ff5959;
  font-size: 0.9rem;
  font-weight: 500;
}

.product__information__container .product__info .currentBid__container {
  display: flex;
  justify-content: flex-end;
}

.product__information__container .product__info .currentBid__container svg {
  margin-left: 0.5rem;
}

.product__information__container .product__info .bidding__information p {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  margin: 5px;
}

.product__information__container .product__info .currentHighBidder img {
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.product__information__container .product__info .currentHighBidder h3 {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.buttons__container .like__container p {
  margin-bottom: 0;
}

.buttons__container .like__container {
  padding: 10px 20px;
  cursor: pointer;
}
