.product__table__container {
  margin: 3rem 0;
  padding: 2rem;
}

.product__table__container .table__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  padding: 20px 0;
}
.product__table__container .product__list {
  transition: all 0.4s ease-in;
}
.product__table__container .table__title h4:first-child {
  text-align: start;
}

.product__table__container .table__title h4 {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  width: 100%;
  text-align: end;
}

.product__table__container .calculations {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.product__table__container .calculations .totals {
  width: max-content;
  text-align: start;
}
.product__table__container .calculations .totals h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  color: #888686;
}

.product__table__container .calculations .totals h4 span {
  color: #000000;
  font-weight: 500;
  padding: 0 10px;
}

.product__table__container .pagetitle {
  font-weight: 800;
  font-size: 34px;
}
