.product__table__container {
  margin: 3rem 0;
}

.product__table__container .table__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  padding: 20px 0;
}

.product__table__container .table__title h4:first-child {
  text-align: start;
}

.product__table__container .table__title h4 {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  width: 100%;
  text-align: end;
}
