.category__list__modal {
  width: 100%;
}

.category__list__modal a {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  font-size: 20px;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
}
.category__moreList .header__titleAccordion button {
  font-size: 20px !important;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
  border: none;
}

.category__moreList .accordiionItem {
  border: none;
}

.category__moreList .moreList__body {
  background-color: #eef2ff;
  border-radius: 0 0 20px 20px;
}

.category__submoreList .header__titleAccordion button {
  font-size: 16px !important;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
  border: none;
  background-color: #eef2ff;
}

.category__submoreList .accordiionItem {
  border: none;
  background-color: #eef2ff;
}
.subcategory__list__modal a {
  font-size: 16px !important;
}
