.orderList__container{
  margin:1rem  0;
  display:flex;
  background-color:#EEF2FF;
  padding: 1rem;
  justify-content: space-between;
  align-items:center;
  border-radius:10px;
  transition:border .5s ease-in;
  border-left: 5px solid transparent;

}


.orderList__container:hover{
  box-shadow: 0 0 10px #2b2b2b25;
  border-color:#4267B2;
}

.paid__container:hover{
  border-color:lightgreen;
}

.cancelled__container:hover{
  border-color:#ff5959;

}
.orderList__container .image__container{
  margin: 0 1rem;
  flex:1;
}

.orderList__container .buttons__container{
  flex:1;
}

.orderList__container .image__container .small__counter{
  height: 30px;
  width: 30px;
  background-color: #4267B2 ;
}


.orderList__container .information__container {
  justify-self: flex-start;
  flex:2;
  align-self:baseline;

}

.orderList__container .data__container{
  display :flex;
  flex-wrap: wrap;
  flex-grow: 50%;
}


.orderList__container .information__container .data__container .data__item{
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items:flex-start;
  flex:33.33%;
  margin-bottom: 1rem;
}

.orderList__container .data__item h4{
  font-size: 0.8rem;
  font-weight: medium;
  color:#888686;
  text-transform: capitalize;
  margin: 0;

}
.orderList__container .data__item h5{
  font-weight: 300;
  font-size: 1.1rem;
  color: #000000;
  text-transform: capitalize;
  margin: 0;
}

.orderList__container .orderID{
  margin-bottom: 1rem;

}

.orderList__container .information__container .orderID h3{
  font-size: 1.2rem;
  font-weight: 700;
}

.orderList__container .buttons__container{
  display: flex;
  flex-direction: column;

}

.orderList__container .buttons__container button{
  border: 1px solid #4267B2;
  margin:0.5rem 0;
  padding:0.5rem;
  background-color: transparent;
  font-weight: 500;
  color: #4267B2;
  font-size: 0.9rem;
  border-radius:10px;
}

.orderList__container .buttons__container button:hover{
  background-color: #4267B2;
  color: white;

}