.orderList {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 20px;
  align-items: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.orderList .action__icons__container {
}

.paid_order:hover {
  box-shadow: 0 0 10px lightgreen;
}

.not_paid_order:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.24);
}

.orderList p {
  font-weight: light;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.orderList p span {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.order_action .action__icons__container .icons {
  margin: 0 1rem;
}

.order_action .action__icons__container .icons:hover {
  color: #676fa3;
}
