.orderList {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 20px;
  align-items: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  flex-wrap: wrap;
}


.paid_order:hover {
  box-shadow: 0 0 10px lightgreen;
}


.not_paid_order:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.24);
}

.orderList p {
  font-weight: light;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.orderList p span {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.order_action .action__icons__container .icons {
  margin: 0 1rem;
}

.order_action .action__icons__container .icons:hover {
  color: #676fa3;
}

.action_mobile_container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.action_mobile_container .button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid rgb(103, 111, 163);
  color: #676fa3;
  margin: 5px;
  transition: all ease-in 0.5s;
}
.action_mobile_container .button svg {
  margin-right: 5px;
}

.action_mobile_container .button:hover {
  background-color: rgb(103, 111, 163);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .order_action .action__icons__container .icons {
    margin: 1rem;
  }
}
