.product__filter__container .filterList {
  padding: 0px;
  list-style: none;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.product__filter__container .filterList li,
.product__filter__container .filterList a {
  color: #a4a4a4;
  margin-bottom: 10px;
  list-style: none;
  text-decoration: none;
}
.product__filter__container .filterList li:hover,
.product__filter__container .filterList a:hover {
  color: #000;
  cursor: pointer;
  font-weight: 600;
}
.product__filter__container .active__link a,
.product__filter__container .active__link span,
.product__filter__container .active__link svg {
  color: #000 !important;
  cursor: pointer;
  font-weight: 600;
}
.product__filter__container .filterList span {
  margin-left: 15px;
}
.product__filter__container .categoryDropdown a {
  color: #a4a4a4;
  text-decoration: none;
}

.product__filter__container .categoryDropdown,
.product__filter__container .tagsList {
  list-style: none;
  padding: 0;
}

.product__filter__container .tagsList {
  display: flex;
  flex-wrap: wrap;
}
.product__filter__container .tagsList li {
  flex: 33.33%;
  padding: 10px;
}
.product__filter__container .categoryDropdown li {
  margin-left: 0;
  padding: 10px 0;
}
.product__filter__container .categoryDropdown li:hover a {
  color: #000;
  font-weight: 600;
}

.product__filter__container .filtering__section .accordion__container_header {
  border-bottom: 1px solid #000;
  background: #fff;
}

.product__filter__container
  .filtering__section
  .accordion__container_header
  button {
  background: #fff;
  color: #000;
}
