.artist__card__container {
  margin: 1rem 3rem;
}

.artist__card__container:first-child {
  margin-left: 0;
}

.artist__card__container:last-child {
  margin-right: 0;
}

.artist__card__container .bidding__card {
  border: none;
  box-shadow: 0 0 10px #2b2b2b25;
  transition: box-shadow 0.2s ease-in;
  border-radius: 20px;
}

.artist__card__container .bidding__card .image__container {
}
.artist__card__container .card__header {
  display: flex;
  justify-content: space-between;
}

.artist__card__container .bidding__card .linkContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.artist__card__container .bidding__card .linkContainer a {
  text-decoration: none;
  color: #ff5959;
  margin: 0 20px;
}

.artist__card__container .bidding__card .linkContainer .linkMain {
  background: #ff5959;
  color: #f8f8f2;
  padding: 10px 30px;
  margin-left: 0;
  border-radius: 20px;
}
