artist__card__container {
  padding: 20px;
}

.artist__card__container:first-child {
  padding-left: 0;
}
.artist__card__container:last-child {
  padding-right: 0;
}

.artist__card__container .bidding__card {
  border: none;
  transition: box-shadow 0.5s ease-in;
  border-radius: 20px;
}

artist__card__container .bidding__card:hover {
  box-shadow: 0 0 10px #2b2b2b25;
}

artist__card__container .bidding__image {
  transform: scale(0.9);
  border-radius: 20px;
  height: 250px;
}
artist__card__container .card_body {
  padding: 0 20px;
}
artist__card__container .Biddingcard__header {
  display: flex;
  justify-content: space-between;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 600;
}
artist__card__container .bidding__card .priceContainer p {
  font-weight: 600;
  font-size: 12px;
}
artist__card__container .bidding__card .priceContainer h1 {
  font-weight: 700;
  font-size: 12px;
  color: #ff5959;
}
artist__card__container .card_body .actions__container svg {
  margin: 0 10px;
}
artist__card__container .card_body .actions__container svg:first-child {
  margin-left: 0px;
}
artist__card__container .card_body .actions__container svg:last-child {
  margin-right: 0px;
}
