.categoryDropdown a{
    color: #a4a4a4;
    text-decoration: none;
   
}
.categoryDropdown a:hover{
    color: #000;
}
.categoryDropdown{
    list-style:none;
    padding:0px;
}
.categoryDropdown li{
    margin-bottom: 10px;
}