@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root {
    --primary-color: #FF5959;
 
  }

.pageHeading{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}



.filterBar .accordion-button:not(.collapsed){
    background-color: transparent !important;
    box-sizing: none !important;
    color: #333 !important;
}
.filterBar .accordion-body{
    padding:1rem 0rem;
}
.filterBar  .accordion-item{
    border:none !important;
}
.filterBar  .accordion-button{
    padding:6px 0px;
}